/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1, h2 {
    color: #333;
  }
  
  

  header {
    background-image: linear-gradient(to bottom, #333333, #000000);
    padding: 20px;
    
 
  }
  .navbar {
    display:block;
    text-align: center;
  }


  .nav-item {
    display: inline;
    
  /* ou display: inline-block; */
  margin-right: 10px; /* opcional: adiciona um espaçamento entre os itens */
  }

  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    transition: color 0.3s ease;
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
  }
  
  nav a:hover {
    color: #e93d50;
  }


  
  /* Estilos do herói */
  #cabecalho {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url('fundo.png');
    background-size: cover;
    background-position: center;
    width:100%;
    height: 400px;
    display: block;
    justify-content: center;
    text-align: center;
    position: relative;
    padding: 10px; 
    border: 3px solid black;
  }

  
  #cabecalho img{
   
    top: 100px;
  }

  .telefone {
  
    display: inline;
    position: absolute;
    bottom: 10px;
    right:20px;
    margin: 10px 
  }

span{
    font-size: 4vb;
    font-family: 'Roboto', sans-serif;
    color: white;
    vertical-align: middle;
    
}
  .icone {
    width: 40px; 
    height: auto; /* para manter a proporcao da imagem*/ 
    vertical-align: middle;
    margin-right: 10px;
    
 
  }
  
  /* Estilos das seções */
  section {
    padding: 40px;
  }
  
  #servicos {
   
    padding: 10px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

 
  #servicos ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }

  .botao-modal {
    border: none;
    color: white; 
    padding:  20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px;
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 4px; 
    background-color: #e93d50;
    border-radius: 10px;
    width: 25vw;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.3s ease;
  }
  .botao-modal:hover {
    background-color: #af303f;
  }

  
.subtitulos{
    text-align: center;
}
  .formulario_titulo{
    display: inline-block;
    margin-right: 50%;
    vertical-align:auto;
  }

 

  
  #cotacao{
    background-image: url("deffundobody.jpg");
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }

 
  
  form {
    margin: 20px 50px;
    padding: 20px;
    text-align: left;
    bottom:20px;
  }
  
  form h2{
    
    margin-bottom: 30px;
  }


  label, input {
    display: block;
    width: 25vw;
    margin-bottom: 10px;
  }
  
  textarea {
    width: 300px;
    height: 150px;
    margin-bottom: 10px;
    padding: 10px;
    resize: none;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #e93d50;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #af303f;
  }

  .localizacao {
  margin: 70px 10px 10px 10px;
  padding: 20px;
  }

  /* Estilos do rodapé */
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: rgba(0, 0, 0, 0.8);
    margin: 10% auto;
    padding: 20px;
    border: 0;
    width: 80%;
    height: 65%;
    position:relative;
   
}

#galeria {
  position: absolute;
  
}

#foto {
  border-radius: 1%;
}

#fechar {
  border: none;
  color: white; 
  padding:  10px; 
  text-align: center; 

  text-decoration: none; 
  display: inline-block; 
  font-size: 16px;
  margin: 4px 2px; 
  cursor: pointer; 
  border-radius: 4px; 
  background-color: #e93d50;
  border-radius: 10px;
  width: 7vw;
  color: #fff;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease;
  bottom: 10px;
}

#nextphoto { 
  border: none;
  color: white; 
 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 16px;
  margin: 4px 2px; 
  cursor: pointer; 
  border-radius: 4px; 
  background-color: #e93d50;
  border-radius: 10px;
  width: 7vw;
  color: #fff;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease;
  bottom: 35px;
  position: absolute;
  height: 20px;
  
}

#foto {
  margin-top: 10px;
  width: 650px;
  height: 500px;
  object-fit: cover;
}


.fechar-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.social-media{
  position: absolute;
  justify-content: center;
  margin: 50px 50px;
  padding: 20px;
  bottom:20px;
  text-align: center;
  

}