/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1, h2 {
    color: #333;
  }
  
  
  /* Estilos do cabeçalho */
  header {
    background-image: linear-gradient(to bottom, #333333, #000000);
    padding: 20px;
    
 
  }
  .navbar {
    display:block;
    text-align: center;
  }


  .nav-item {
    display: inline;
    
  /* ou display: inline-block; */
  margin-right: 10px; /* opcional: adiciona um espaçamento entre os itens */
  }

  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    transition: color 0.3s ease;
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
  }
  
  nav a:hover {
    color: #e93d50;
  }


  
  /* Estilos do herói */
  #cabecalho {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url('fundologo.jpeg');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: block;
    justify-content: center;
    text-align: center;
    position: relative;
    padding: 10px;
    overflow-y: scroll; 
    border: 3px solid black;
  }

  
  #cabecalho img{
   
    position: sticky;
    top: 100px;
  }

  .telefone {
  
    display: inline;
    position: absolute;
    bottom: 10px;
    right:20px;
    margin: 10px 
  }

span{
    font-size: 4vb;
    font-family: 'Roboto', sans-serif;
    color: white;
    vertical-align: middle;
    
}
  .icone {
    width: 40px; 
    height: auto; /* para manter a proporcao da imagem*/ 
    vertical-align: middle;
    margin-right: 10px;
    
 
  }
  
  /* Estilos das seções */
  section {
    padding: 40px;
  }
  
  #servicos {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

 
  #servicos ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }
  
  #servicos li {
    background-color: #e93d50;
    border-radius: 10px;
    width: 25vw;
    color: #fff;
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
    transition: background-color 0.3s ease;
  }
  
  #servicos li:hover {
    background-color: #af303f;
  }
  
.subtitulos{
    text-align: center;
}
  .formulario_titulo{
    display: inline-block;
    margin-right: 50%;
    vertical-align:auto;
  }
  .localiz_titulo{
    display: inline-block;
    margin-left: 50%
    vertical-align:auto;
  }

  #cotacao{
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    
  }

  
  form {
    display: inline;
    margin: 20px 50px;
    padding: 20px;
    text-align: left;
    bottom:20px;
  }
  
  form h2{
    display: inline-block;
    margin-bottom: 30px;
  }

  .localizacao h2{
   text-align: left;
   margin-bottom: 30px;
   
  }

  label, input {
    display: block;
    width: 30vw;
    margin-bottom: 10px;
  }
  
  textarea {
    width: 300px;
    height: 150px;
    margin-bottom: 10px;
    padding: 10px;
    resize: none;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #e93d50;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #af303f;
  }

  .localizacao{
    margin: 20px 50px;
   padding: 20px;
   bottom: 20px;
  }

  /* Estilos do rodapé */
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  